* {
  padding: 0;
  margin: 0;
  font-family: "Raleway", sans-serif;
}

html {
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 1em;
}
body {
  background-color: #f7f9fc;
  height: 100%;
}

main {
  display: flex;
  flex-direction: column;
  height: 100%;
}

header {
  display: flex;
  align-items: end;
  height: 120px;
  background-color: #C80F2E;
}

.author {
  display: flex;
  flex-direction: column;
  line-height: 50px;
  border-radius: 10%;
  height: 110px;
  color: gold;
  margin-left: 60px;
  margin-right: 20px;
}

.author__name {
  font-size: 30px;
}

.author__surname {
  font-size: 75px;
}

.header__title {
  margin-bottom: 5px;
  color:white;
}

.container {
  height: 100%;
  width: 1200px;
  margin-top: 50px;
  align-self: center;
  display: flex;
  flex-direction: column;
}

@media only screen and (max-width: 1200px) {
  .container {
    width: 750px;
  }
}

@media only screen and (max-width: 750px) {
  .container {
    width: 300px;
  }

  .author {
    margin-left: 20px;
    line-height: 30px;
    height: 70px;
  }

  .header__title {
    margin-right: 20px;
    font-size: 20px;
  }

  .author__name {
    font-size: 18px;
  }
  
  .author__surname {
    font-size: 45px;
  }

  .header {
    height: 80px;
  }
}

.container__files-list {
  padding: 10px;
  background-color: white;
  border: 1px solid wheat;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.container__note {
  margin-top: 25px;
  font-size: 14px;
}

article {
  display: flex;
  align-items: end;
}

article a {
  padding: 0 10px;
}

.iula-logo {
  align-self: flex-end;
  margin-bottom: 25px;
}

.logo-container {
  height: 100%;
  display: flex;
  align-self: end;
}